### To do

1. Extract data from xlsx file and create raw data frame - **DONE**
2. Remove empty columns - **DONE**
3. Remove unecessary columns - **DONE**
   1. Check for distinct data values - **DONE**
4. Rename columns - **DONE**
5. Reorder columns - **DONE**
1. Check for empty data - **DONE**
2. Verify data types - **DONE**
3. Create new dataframes by dimensions, indicators, and subgroups.

In [103]:
# Import necessary libraries
import pandas as pd
import numpy as np

### Extract data from the data.xlsx file

In [104]:
# Read the data into a Pandas DataFrame
raw_data_df = pd.read_excel('data/data.xlsx')
raw_data_df.head()

,setting,date,source,indicator_abbr,indicator_name,dimension,subgroup,estimate,se,ci_lb,...,iso3,favourable_indicator,indicator_scale,ordered_dimension,subgroup_order,reference_subgroup,whoreg6,wbincome2024,dataset_id,update
0,Afghanistan,2004,NNS,overweight,Overweight prevalence in children aged < 5 yea...,Child's age (6 groups) (0-59m),0-5 months,NaN,NaN,NaN,...,AFG,0,100,1,1,0,Eastern Mediterranean,Low income,rep_nut,17 June 2024
1,Afghanistan,2004,NNS,overweight,Overweight prevalence in children aged < 5 yea...,Child's age (6 groups) (0-59m),12-23 months,4.3,NaN,NaN,...,AFG,0,100,1,3,0,Eastern Mediterranean,Low income,rep_nut,17 June 2024
2,Afghanistan,2004,NNS,overweight,Overweight prevalence in children aged < 5 yea...,Child's age (6 groups) (0-59m),24-35 months,3.0,NaN,NaN,...,AFG,0,100,1,4,0,Eastern Mediterranean,Low income,rep_nut,17 June 2024
3,Afghanistan,2004,NNS,overweight,Overweight prevalence in children aged < 5 yea...,Child's age (6 groups) (0-59m),36-47 months,5.6,NaN,NaN,...,AFG,0,100,1,5,0,Eastern Mediterranean,Low income,rep_nut,17 June 2024
4,Afghanistan,2004,NNS,overweight,Overweight prevalence in children aged < 5 yea...,Child's age (6 groups) (0-59m),48-59 months,6.4,NaN,NaN,...,AFG,0,100,1,6,0,Eastern Mediterranean,Low income,rep_nut,17 June 2024

In [105]:
# Get a brief summary of the raw_data DataFrame.
raw_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157095 entries, 0 to 157094
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   setting               157095 non-null  object
 1   date                  157095 non-null  int64
 2   source                157095 non-null  object
 3   indicator_abbr        157095 non-null  object
 4   indicator_name        157095 non-null  object
 5   dimension             157095 non-null  object
 6   subgroup              157095 non-null  object
 7   estimate              153334 non-null  float64
 8   se                    136679 non-null  float64
 9   ci_lb                 142754 non-null  float64
 10  ci_ub                 142754 non-null  float64
 11  population            147089 non-null  float64
 12  flag                  157095 non-null  object
 13  setting_average       157095 non-null  float64
 14  iso3                  157095 non-null  object
 15  favourable_indicator  157095 non-null  int64
 16  indicator_scale       157095 non-null  int64
 17  ordered_dimension     157095 non-null  int64
 18  subgroup_order        157095 non-null  int64
 19  reference_subgroup    157095 non-null  int64
 20  whoreg6               157095 non-null  object
 21  wbincome2024          157095 non-null  object
 22  dataset_id            157095 non-null  object
 23  update                157095 non-null  object
dtypes: float64(6), int64(6), object(12)
memory usage: 28.8+ MB

There are 157,095 records and 24 columns of data in our dataframe.

Check for any columns that are empty and drop them from the dataframe.

In [106]:
# Check for empty columns
empty_columns = raw_data_df.columns[raw_data_df.isnull().all()]
print("Empty columns:", empty_columns)

# Remove empty columns
cleaned_df = raw_data_df.dropna(axis=1, how='all')

# Verify data frame info
print("DataFrame info after removing empty columns:")
cleaned_df.info()

Empty columns: Index([], dtype='object')
DataFrame info after removing empty columns:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157095 entries, 0 to 157094
Data columns (total 24 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   setting               157095 non-null  object
 1   date                  157095 non-null  int64
 2   source                157095 non-null  object
 3   indicator_abbr        157095 non-null  object
 4   indicator_name        157095 non-null  object
 5   dimension             157095 non-null  object
 6   subgroup              157095 non-null  object
 7   estimate              153334 non-null  float64
 8   se                    136679 non-null  float64
 9   ci_lb                 142754 non-null  float64
 10  ci_ub                 142754 non-null  float64
 11  population            147089 non-null  float64
 12  flag                  157095 non-null  object
 13  setting_average       157095 non-null  float64
 14  iso3                  157095 non-null  object
 15  favourable_indicator  157095 non-null  int64
 16  indicator_scale       157095 non-null  int64
 17  ordered_dimension     157095 non-null  int64
 18  subgroup_order        157095 non-null  int64
 19  reference_subgroup    157095 non-null  int64
 20  whoreg6               157095 non-null  object
 21  wbincome2024          157095 non-null  object
 22  dataset_id            157095 non-null  object
 23  update                157095 non-null  object
dtypes: float64(6), int64(6), object(12)
memory usage: 28.8+ MB

There are still 24 columns, so no empty columns were found.

Count the unique values for each column so that we can determine if any have a single value, we can drop them from the dataframe.  Such columns will not provide any meaningful insights.

In [107]:
# Count the number of unique values in each column
unique_counts = cleaned_df.nunique()

# Create a new DataFrame to store the counts
unique_counts_df = pd.DataFrame(unique_counts, columns=['Unique Count'])

# Display the new DataFrame
print("DataFrame with the count of unique values in each column:")
unique_counts_df

DataFrame with the count of unique values in each column:

                      Unique Count
setting                        156
date                            34
source                          19
indicator_abbr                  15
indicator_name                  15
dimension                        6
subgroup                      4517
estimate                    130841
se                          135364
ci_lb                       136109
ci_ub                       136147
population                   73542
flag                          1496
setting_average              11905
iso3                           156
favourable_indicator             1
indicator_scale                  1
ordered_dimension                2
subgroup_order                   7
reference_subgroup               2
whoreg6                          6
wbincome2024                     4
dataset_id                       1
update                           1

Columns 'favourable indicator', 'indicator_scale', 'dataset_id', and 'update' have single values so we can drop them.

In [108]:
# Remove columns with a single value from the DataFrame
cleaned_df = cleaned_df.drop(columns=['favourable_indicator', 'indicator_scale', 'dataset_id', 'update'])

# Display the updated DataFrame
print("DataFrame info after removing single value columns:\n")
cleaned_df.info()

DataFrame info after removing single value columns:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157095 entries, 0 to 157094
Data columns (total 20 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   setting             157095 non-null  object
 1   date                157095 non-null  int64
 2   source              157095 non-null  object
 3   indicator_abbr      157095 non-null  object
 4   indicator_name      157095 non-null  object
 5   dimension           157095 non-null  object
 6   subgroup            157095 non-null  object
 7   estimate            153334 non-null  float64
 8   se                  136679 non-null  float64
 9   ci_lb               142754 non-null  float64
 10  ci_ub               142754 non-null  float64
 11  population          147089 non-null  float64
 12  flag                157095 non-null  object
 13  setting_average     157095 non-null  float64
 14  iso3                157095 non-null  object
 15  ordered_dimension   157095 non-null  int64
 16  subgroup_order      157095 non-null  int64
 17  reference_subgroup  157095 non-null  int64
 18  whoreg6             157095 non-null  object
 19  wbincome2024        157095 non-null  object
dtypes: float64(6), int64(4), object(10)
memory usage: 24.0+ MB

The four single value columns were correctly dropped.  We now have 20 columns in the dataframe.

In [109]:
'''
***************
DELETE LATER
***************
# Get the unique values for each column in separate lists so that we can determine if any columns have unnecessary data.  
# Such columns will not be applicable to our analysis, so we will drop them from the dataframe.

# Create an empty dictionary to store the lists of unique values
unique_values = {}

# Iterate through each column in the cleaned DataFrame
for column in cleaned_df.columns:
    # Extract unique values and convert to a list
    unique_values[column] = cleaned_df[column].unique().tolist()

# Display the lists of unique values for each column
print("Unique values in each column:\n")
for column, values in unique_values.items():
    print(f"{column}: {values}")
'''

'\n***************\nDELETE LATER\n***************\n# Get the unique values for each column in separate lists so that we can determine if any columns have unnecessary data.  \n# Such columns will not be applicable to our analysis, so we will drop them from the dataframe.\n\n# Create an empty dictionary to store the lists of unique values\nunique_values = {}\n\n# Iterate through each column in the cleaned DataFrame\nfor column in cleaned_df.columns:\n    # Extract unique values and convert to a list\n    unique_values[column] = cleaned_df[column].unique().tolist()\n\n# Display the lists of unique values for each column\nprint("Unique values in each column:\n")\nfor column, values in unique_values.items():\n    print(f"{column}: {values}")\n'

1. The *flag* column includes notes, author, and reference title.
2. The *source* column includes a code for reprenting the source data type.
3. The meaning of the *reference_subgroup* column is unknown.
4. The *se* column refers to the standard error in the prevalence estimate.
5. The *ci_lb* and *ci_ub* columns refer to confidence intervals upper and lower bounds respectively.
6. The *ordered_dimension* column is a boolean flag that indicates if the *dimension* column is a nominal or ordinal variable.  In this dataset, *0* represents a nominal variable and *1* represents an ordinal variable.  Nominal variables are for the dimensions of *sex*, *place of residence*, and *subnational region*.  Ordinal variables are for the dimensions of *age*, *economic status*, and *education level*. Ordinal dimensions use the *subgroup_order* column to denote the specific ordering.

None data is needed for our analysis, so we will drop it from the dataframe.

In [110]:
# Remove 'flag' column from the DataFrame
cleaned_df = cleaned_df.drop(columns=['flag', 'source', 'reference_subgroup', 'se', 'ci_lb', 'ci_ub', 'ordered_dimension'])

# Display the updated DataFrame
print("DataFrame info after removing the unecessary columns:\n")
cleaned_df.info()

DataFrame info after removing the unecessary columns:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157095 entries, 0 to 157094
Data columns (total 13 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   setting          157095 non-null  object
 1   date             157095 non-null  int64
 2   indicator_abbr   157095 non-null  object
 3   indicator_name   157095 non-null  object
 4   dimension        157095 non-null  object
 5   subgroup         157095 non-null  object
 6   estimate         153334 non-null  float64
 7   population       147089 non-null  float64
 8   setting_average  157095 non-null  float64
 9   iso3             157095 non-null  object
 10  subgroup_order   157095 non-null  int64
 11  whoreg6          157095 non-null  object
 12  wbincome2024     157095 non-null  object
dtypes: float64(3), int64(2), object(8)
memory usage: 15.6+ MB

1. The *population* column represents the number of children under five years of age.
2. The *whoreg6* column is a regional classification provided by the WHO.
3. The *wbincome2024* column is an income group classification provided by The World Bank.

Rename the columns with more intuitive titles and reorder them.

In [111]:
# Rename the columns
cleaned_df = cleaned_df.rename(columns={
    'setting': 'Country',
    'date': 'Year',
    'indicator_abbr': 'Anthropometric Indicator',
    'indicator_name': 'Indicator Description',
    'dimension': 'Dimension',
    'subgroup': 'Dimension Value',
    'subgroup_order': 'Dimension Value Order',
    'setting_average': 'Country Avg',
    'iso3': 'Country ISO-3 Code',
    'whoreg6': 'Region',
    'wbincome2024': 'Income Group',
    'estimate': 'Prevalence Estimate %',
    'population': 'Under-Five Population (million)'
})

# Reorder the columns
cleaned_df = cleaned_df[
    [
        'Region',
        'Country ISO-3 Code',
        'Country',
        'Year',
        'Dimension',
        'Dimension Value',
        'Dimension Value Order',
        'Income Group',
        'Anthropometric Indicator',
        'Indicator Description',
        'Prevalence Estimate %',
        'Under-Five Population (million)',
        'Country Avg'
    ]
]

# Check the DataFrame information
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 157095 entries, 0 to 157094
Data columns (total 13 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Region                           157095 non-null  object
 1   Country ISO-3 Code               157095 non-null  object
 2   Country                          157095 non-null  object
 3   Year                             157095 non-null  int64
 4   Dimension                        157095 non-null  object
 5   Dimension Value                  157095 non-null  object
 6   Dimension Value Order            157095 non-null  int64
 7   Income Group                     157095 non-null  object
 8   Anthropometric Indicator         157095 non-null  object
 9   Indicator Description            157095 non-null  object
 10  Prevalence Estimate %            153334 non-null  float64
 11  Under-Five Population (million)  147089 non-null  float64
 12  Country Avg                      157095 non-null  float64
dtypes: float64(3), int64(2), object(8)
memory usage: 15.6+ MB

In [112]:
# Remove rows where 'Under-Five Population (million)' and 'Prevalence Estimate %' are empty
cleaned_df = cleaned_df.dropna(subset=['Under-Five Population (million)', 'Prevalence Estimate %'])

# Check the DataFrame after dropping rows
cleaned_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 147089 entries, 1 to 157094
Data columns (total 13 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Region                           147089 non-null  object
 1   Country ISO-3 Code               147089 non-null  object
 2   Country                          147089 non-null  object
 3   Year                             147089 non-null  int64
 4   Dimension                        147089 non-null  object
 5   Dimension Value                  147089 non-null  object
 6   Dimension Value Order            147089 non-null  int64
 7   Income Group                     147089 non-null  object
 8   Anthropometric Indicator         147089 non-null  object
 9   Indicator Description            147089 non-null  object
 10  Prevalence Estimate %            147089 non-null  float64
 11  Under-Five Population (million)  147089 non-null  float64
 12  Country Avg                      147089 non-null  float64
dtypes: float64(3), int64(2), object(8)
memory usage: 15.7+ MB

After removing unecessary columns and empty rows, we are left with 147,089 entries and 13 columns.

## To do
1. Create dataframes for
   1. Country and Codes
   2. Dimension
   3. Income Group
   4. Anthropometric Indicator and Indicator Description

In [152]:
# Create a new DataFrame with unique values from 'Country ISO-3 Code' and 'Country' columns
country_df = cleaned_df[['Country ISO-3 Code', 'Country']].drop_duplicates()

# Display the new DataFrame
print(country_df)

       Country ISO-3 Code                         Country
1                     AFG                     Afghanistan
1005                  ALB                         Albania
1555                  DZA                         Algeria
2600                  AGO                          Angola
3164                  ARG                       Argentina
...                   ...                             ...
144521                VNM                        Viet Nam
151646                YEM                           Yemen
153070                ZMB                          Zambia
154420                ZWE                        Zimbabwe
156020                PSE  occupied Palestinian territory

[154 rows x 2 columns]

In [168]:
# Create numpy array for each of the countries
country_ids = np.arange(1, len(country_df) + 1)
print(country_ids)

[  1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17  18
  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35  36
  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53  54
  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71  72
  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89  90
  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107 108
 109 110 111 112 113 114 115 116 117 118 119 120 121 122 123 124 125 126
 127 128 129 130 131 132 133 134 135 136 137 138 139 140 141 142 143 144
 145 146 147 148 149 150 151 152 153 154]

In [169]:
# Use a list comprehension to add "ctry" to each country_id.
ctry_ids = ["ctry" + str(ctry_id) for ctry_id in country_ids]

print(ctry_ids)

['ctry1', 'ctry2', 'ctry3', 'ctry4', 'ctry5', 'ctry6', 'ctry7', 'ctry8', 'ctry9', 'ctry10', 'ctry11', 'ctry12', 'ctry13', 'ctry14', 'ctry15', 'ctry16', 'ctry17', 'ctry18', 'ctry19', 'ctry20', 'ctry21', 'ctry22', 'ctry23', 'ctry24', 'ctry25', 'ctry26', 'ctry27', 'ctry28', 'ctry29', 'ctry30', 'ctry31', 'ctry32', 'ctry33', 'ctry34', 'ctry35', 'ctry36', 'ctry37', 'ctry38', 'ctry39', 'ctry40', 'ctry41', 'ctry42', 'ctry43', 'ctry44', 'ctry45', 'ctry46', 'ctry47', 'ctry48', 'ctry49', 'ctry50', 'ctry51', 'ctry52', 'ctry53', 'ctry54', 'ctry55', 'ctry56', 'ctry57', 'ctry58', 'ctry59', 'ctry60', 'ctry61', 'ctry62', 'ctry63', 'ctry64', 'ctry65', 'ctry66', 'ctry67', 'ctry68', 'ctry69', 'ctry70', 'ctry71', 'ctry72', 'ctry73', 'ctry74', 'ctry75', 'ctry76', 'ctry77', 'ctry78', 'ctry79', 'ctry80', 'ctry81', 'ctry82', 'ctry83', 'ctry84', 'ctry85', 'ctry86', 'ctry87', 'ctry88', 'ctry89', 'ctry90', 'ctry91', 'ctry92', 'ctry93', 'ctry94', 'ctry95', 'ctry96', 'ctry97', 'ctry98', 'ctry99', 'ctry100', 'ctry101', 'ctry102', 'ctry103', 'ctry104', 'ctry105', 'ctry106', 'ctry107', 'ctry108', 'ctry109', 'ctry110', 'ctry111', 'ctry112', 'ctry113', 'ctry114', 'ctry115', 'ctry116', 'ctry117', 'ctry118', 'ctry119', 'ctry120', 'ctry121', 'ctry122', 'ctry123', 'ctry124', 'ctry125', 'ctry126', 'ctry127', 'ctry128', 'ctry129', 'ctry130', 'ctry131', 'ctry132', 'ctry133', 'ctry134', 'ctry135', 'ctry136', 'ctry137', 'ctry138', 'ctry139', 'ctry140', 'ctry141', 'ctry142', 'ctry143', 'ctry144', 'ctry145', 'ctry146', 'ctry147', 'ctry148', 'ctry149', 'ctry150', 'ctry151', 'ctry152', 'ctry153', 'ctry154']

In [170]:
# Add the ctry_ids list as a new column
country_df['Country ID'] = ctry_ids
print(country_df)

       Country ISO-3 Code                         Country Country ID
1                     AFG                     Afghanistan      ctry1
1005                  ALB                         Albania      ctry2
1555                  DZA                         Algeria      ctry3
2600                  AGO                          Angola      ctry4
3164                  ARG                       Argentina      ctry5
...                   ...                             ...        ...
144521                VNM                        Viet Nam    ctry150
151646                YEM                           Yemen    ctry151
153070                ZMB                          Zambia    ctry152
154420                ZWE                        Zimbabwe    ctry153
156020                PSE  occupied Palestinian territory    ctry154

[154 rows x 3 columns]

In [171]:
# Reorder the columns so that 'Dimension ID' is first, then 'Dimension'
country_df = country_df[['Country ID', 'Country ISO-3 Code', 'Country']]

# Display the updated DataFrame
country_df

       Country ID Country ISO-3 Code                         Country
1           ctry1                AFG                     Afghanistan
1005        ctry2                ALB                         Albania
1555        ctry3                DZA                         Algeria
2600        ctry4                AGO                          Angola
3164        ctry5                ARG                       Argentina
...           ...                ...                             ...
144521    ctry150                VNM                        Viet Nam
151646    ctry151                YEM                           Yemen
153070    ctry152                ZMB                          Zambia
154420    ctry153                ZWE                        Zimbabwe
156020    ctry154                PSE  occupied Palestinian territory

[154 rows x 3 columns]

In [173]:
# Export country_df as CSV file.
country_df.to_csv("data/country.csv", index=False)

In [153]:
# Create a new DataFrame with unique values from 'Anthropometric Indicator' and 'Indicator Description' columns
indicator_df = cleaned_df[['Anthropometric Indicator', 'Indicator Description']].drop_duplicates()

# Display the new DataFrame
print(indicator_df)

   Anthropometric Indicator                              Indicator Description
1                overweight  Overweight prevalence in children aged < 5 yea...
9              overweight_F  Overweight prevalence in children aged < 5 yea...
15             overweight_M  Overweight prevalence in children aged < 5 yea...
21                 stunting  Stunting prevalence in children aged < 5 years...
29               stunting_F  Stunting prevalence in children aged < 5 years...
35               stunting_M  Stunting prevalence in children aged < 5 years...
41              underweight  Underweight prevalence in children aged < 5 ye...
49            underweight_F  Underweight prevalence in children aged < 5 ye...
55            underweight_M  Underweight prevalence in children aged < 5 ye...
61                  wasting  Wasting prevalence in children aged < 5 years (%)
69                wasting_F  Wasting prevalence in children aged < 5 years ...
75                wasting_M  Wasting prevalence in children aged < 5 years ...
81               wastingsev  Severe wasting prevalence in children aged < 5...
89             wastingsev_F  Severe wasting prevalence in children aged < 5...
95             wastingsev_M  Severe wasting prevalence in children aged < 5...

In [175]:
# Create numpy array for each of the Dimensions
indicator_ids = np.arange(1, len(indicator_df) + 1)
print(indicator_ids)

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15]

In [176]:
# Use a list comprehension to add "ind" to each ind_id.
ind_ids = ["ind" + str(ind_id) for ind_id in indicator_ids]

print(ind_ids)

['ind1', 'ind2', 'ind3', 'ind4', 'ind5', 'ind6', 'ind7', 'ind8', 'ind9', 'ind10', 'ind11', 'ind12', 'ind13', 'ind14', 'ind15']

In [179]:
# Add the ind_ids list as a new column
indicator_df['Indicator ID'] = ind_ids

print(indicator_df)

   Anthropometric Indicator  \
1                overweight
9              overweight_F
15             overweight_M
21                 stunting
29               stunting_F
35               stunting_M
41              underweight
49            underweight_F
55            underweight_M
61                  wasting
69                wasting_F
75                wasting_M
81               wastingsev
89             wastingsev_F
95             wastingsev_M

                                Indicator Description Indicator ID
1   Overweight prevalence in children aged < 5 yea...         ind1
9   Overweight prevalence in children aged < 5 yea...         ind2
15  Overweight prevalence in children aged < 5 yea...         ind3
21  Stunting prevalence in children aged < 5 years...         ind4
29  Stunting prevalence in children aged < 5 years...         ind5
35  Stunting prevalence in children aged < 5 years...         ind6
41  Underweight prevalence in children aged < 5 ye...         ind7
49  Underweight prevalence in children aged < 5 ye...         ind8
55  Underweight prevalence in children aged < 5 ye...         ind9
61  Wasting prevalence in children aged < 5 years (%)        ind10
69  Wasting prevalence in children aged < 5 years ...        ind11
75  Wasting prevalence in children aged < 5 years ...        ind12
81  Severe wasting prevalence in children aged < 5...        ind13
89  Severe wasting prevalence in children aged < 5...        ind14
95  Severe wasting prevalence in children aged < 5...        ind15

In [180]:
# Reorder the columns so that 'Indicator ID' is first
indicator_df = indicator_df[['Indicator ID', 'Anthropometric Indicator', 'Indicator Description']]

# Display the updated DataFrame
indicator_df

,Indicator ID,Anthropometric Indicator,Indicator Description
1,ind1,overweight,Overweight prevalence in children aged < 5 yea...
9,ind2,overweight_F,Overweight prevalence in children aged < 5 yea...
15,ind3,overweight_M,Overweight prevalence in children aged < 5 yea...
21,ind4,stunting,Stunting prevalence in children aged < 5 years...
29,ind5,stunting_F,Stunting prevalence in children aged < 5 years...
35,ind6,stunting_M,Stunting prevalence in children aged < 5 years...
41,ind7,underweight,Underweight prevalence in children aged < 5 ye...
49,ind8,underweight_F,Underweight prevalence in children aged < 5 ye...
55,ind9,underweight_M,Underweight prevalence in children aged < 5 ye...
61,ind10,wasting,Wasting prevalence in children aged < 5 years (%)
69,ind11,wasting_F,Wasting prevalence in children aged < 5 years ...
75,ind12,wasting_M,Wasting prevalence in children aged < 5 years ...
81,ind13,wastingsev,Severe wasting prevalence in children aged < 5...
89,ind14,wastingsev_F,Severe wasting prevalence in children aged < 5...
95,ind15,wastingsev_M,Severe wasting prevalence in children aged < 5...

In [181]:
# Export indicator_df as CSV file.
indicator_df.to_csv("data/indicator.csv", index=False)

In [163]:
# Create a new DataFrame with unique values from the 'Dimension' column
dimension_df = cleaned_df[['Dimension']].drop_duplicates()

# Display the new DataFrame
print(dimension_df)

                             Dimension
1       Child's age (6 groups) (0-59m)
6                                  Sex
106                 Place of residence
110                 Subnational region
386  Economic status (wealth quintile)
391               Education (3 groups)

In [164]:
# Create numpy array for each of the Dimensions
dimension_ids = np.arange(1, len(dimension_df) + 1)
print(dimension_ids)

[1 2 3 4 5 6]

In [165]:
# Use a list comprehension to add "dim" to each dimension_id.
dim_ids = ["dim" + str(dim_id) for dim_id in dimension_ids]

print(dim_ids)

['dim1', 'dim2', 'dim3', 'dim4', 'dim5', 'dim6']

In [166]:
# Add the dimension_ids list as a new column
dimension_df['Dimension ID'] = dimension_ids

print(dimension_df)

                             Dimension  Dimension ID
1       Child's age (6 groups) (0-59m)             1
6                                  Sex             2
106                 Place of residence             3
110                 Subnational region             4
386  Economic status (wealth quintile)             5
391               Education (3 groups)             6

In [167]:
# Reorder the columns so that 'Dimension ID' is first, then 'Dimension'
dimension_df = dimension_df[['Dimension ID', 'Dimension']]

# Display the updated DataFrame
dimension_df

     Dimension ID                          Dimension
1               1     Child's age (6 groups) (0-59m)
6               2                                Sex
106             3                 Place of residence
110             4                 Subnational region
386             5  Economic status (wealth quintile)
391             6               Education (3 groups)

In [187]:
# Export dimension_df as CSV file.
dimension_df.to_csv("data/dimension.csv", index=False)

In [117]:
# Create a new DataFrame with unique values from the 'Dimension Value' column
dimension_value_df = cleaned_df[['Dimension Value']].drop_duplicates()

# Display the new DataFrame
print(dimension_value_df)

           Dimension Value
1             12-23 months
2             24-35 months
3             36-47 months
4             48-59 months
5              6-11 months
...                    ...
155443    Mashonaland West
155444            Masvingo
155445  Matabeleland North
155446  Matabeleland South
155447            Midlands

[4214 rows x 1 columns]

In [182]:
# Create numpy array for each of the dimension values
dimension_value_ids = np.arange(1, len(dimension_value_df) + 1)
print(dimension_value_ids)

[   1    2    3 ... 4212 4213 4214]

In [183]:
# Use a list comprehension to add "dimval" to each dimension_id.
dimval_ids = ["dimval" + str(dimval_id) for dimval_id in dimension_value_ids]

print(dimval_ids)

['dimval1', 'dimval2', 'dimval3', 'dimval4', 'dimval5', 'dimval6', 'dimval7', 'dimval8', 'dimval9', 'dimval10', 'dimval11', 'dimval12', 'dimval13', 'dimval14', 'dimval15', 'dimval16', 'dimval17', 'dimval18', 'dimval19', 'dimval20', 'dimval21', 'dimval22', 'dimval23', 'dimval24', 'dimval25', 'dimval26', 'dimval27', 'dimval28', 'dimval29', 'dimval30', 'dimval31', 'dimval32', 'dimval33', 'dimval34', 'dimval35', 'dimval36', 'dimval37', 'dimval38', 'dimval39', 'dimval40', 'dimval41', 'dimval42', 'dimval43', 'dimval44', 'dimval45', 'dimval46', 'dimval47', 'dimval48', 'dimval49', 'dimval50', 'dimval51', 'dimval52', 'dimval53', 'dimval54', 'dimval55', 'dimval56', 'dimval57', 'dimval58', 'dimval59', 'dimval60', 'dimval61', 'dimval62', 'dimval63', 'dimval64', 'dimval65', 'dimval66', 'dimval67', 'dimval68', 'dimval69', 'dimval70', 'dimval71', 'dimval72', 'dimval73', 'dimval74', 'dimval75', 'dimval76', 'dimval77', 'dimval78', 'dimval79', 'dimval80', 'dimval81', 'dimval82', 'dimval83', 'dimval84', 'dimval85', 'dimval86', 'dimval87', 'dimval88', 'dimval89', 'dimval90', 'dimval91', 'dimval92', 'dimval93', 'dimval94', 'dimval95', 'dimval96', 'dimval97', 'dimval98', 'dimval99', 'dimval100', 'dimval101', 'dimval102', 'dimval103', 'dimval104', 'dimval105', 'dimval106', 'dimval107', 'dimval108', 'dimval109', 'dimval110', 'dimval111', 'dimval112', 'dimval113', 'dimval114', 'dimval115', 'dimval116', 'dimval117', 'dimval118', 'dimval119', 'dimval120', 'dimval121', 'dimval122', 'dimval123', 'dimval124', 'dimval125', 'dimval126', 'dimval127', 'dimval128', 'dimval129', 'dimval130', 'dimval131', 'dimval132', 'dimval133', 'dimval134', 'dimval135', 'dimval136', 'dimval137', 'dimval138', 'dimval139', 'dimval140', 'dimval141', 'dimval142', 'dimval143', 'dimval144', 'dimval145', 'dimval146', 'dimval147', 'dimval148', 'dimval149', 'dimval150', 'dimval151', 'dimval152', 'dimval153', 'dimval154', 'dimval155', 'dimval156', 'dimval157', 'dimval158', 'dimval159', 'dimval160', 'dimval161', 'dimval162', 'dimval163', 'dimval164', 'dimval165', 'dimval166', 'dimval167', 'dimval168', 'dimval169', 'dimval170', 'dimval171', 'dimval172', 'dimval173', 'dimval174', 'dimval175', 'dimval176', 'dimval177', 'dimval178', 'dimval179', 'dimval180', 'dimval181', 'dimval182', 'dimval183', 'dimval184', 'dimval185', 'dimval186', 'dimval187', 'dimval188', 'dimval189', 'dimval190', 'dimval191', 'dimval192', 'dimval193', 'dimval194', 'dimval195', 'dimval196', 'dimval197', 'dimval198', 'dimval199', 'dimval200', 'dimval201', 'dimval202', 'dimval203', 'dimval204', 'dimval205', 'dimval206', 'dimval207', 'dimval208', 'dimval209', 'dimval210', 'dimval211', 'dimval212', 'dimval213', 'dimval214', 'dimval215', 'dimval216', 'dimval217', 'dimval218', 'dimval219', 'dimval220', 'dimval221', 'dimval222', 'dimval223', 'dimval224', 'dimval225', 'dimval226', 'dimval227', 'dimval228', 'dimval229', 'dimval230', 'dimval231', 'dimval232', 'dimval233', 'dimval234', 'dimval235', 'dimval236', 'dimval237', 'dimval238', 'dimval239', 'dimval240', 'dimval241', 'dimval242', 'dimval243', 'dimval244', 'dimval245', 'dimval246', 'dimval247', 'dimval248', 'dimval249', 'dimval250', 'dimval251', 'dimval252', 'dimval253', 'dimval254', 'dimval255', 'dimval256', 'dimval257', 'dimval258', 'dimval259', 'dimval260', 'dimval261', 'dimval262', 'dimval263', 'dimval264', 'dimval265', 'dimval266', 'dimval267', 'dimval268', 'dimval269', 'dimval270', 'dimval271', 'dimval272', 'dimval273', 'dimval274', 'dimval275', 'dimval276', 'dimval277', 'dimval278', 'dimval279', 'dimval280', 'dimval281', 'dimval282', 'dimval283', 'dimval284', 'dimval285', 'dimval286', 'dimval287', 'dimval288', 'dimval289', 'dimval290', 'dimval291', 'dimval292', 'dimval293', 'dimval294', 'dimval295', 'dimval296', 'dimval297', 'dimval298', 'dimval299', 'dimval300', 'dimval301', 'dimval302', 'dimval303', 'dimval304', 'dimval305', 'dimval306', 'dimval307', 'dimval308', 'dimval309', 'dimval310', 'dimval311', 'dimval312', 'dimval313', 'dimval314', 'dimval315', 'dimval316', 'dimval317', 'dimval318', 'dimval319', 'dimval320', 'dimval321', 'dimval322', 'dimval323', 'dimval324', 'dimval325', 'dimval326', 'dimval327', 'dimval328', 'dimval329', 'dimval330', 'dimval331', 'dimval332', 'dimval333', 'dimval334', 'dimval335', 'dimval336', 'dimval337', 'dimval338', 'dimval339', 'dimval340', 'dimval341', 'dimval342', 'dimval343', 'dimval344', 'dimval345', 'dimval346', 'dimval347', 'dimval348', 'dimval349', 'dimval350', 'dimval351', 'dimval352', 'dimval353', 'dimval354', 'dimval355', 'dimval356', 'dimval357', 'dimval358', 'dimval359', 'dimval360', 'dimval361', 'dimval362', 'dimval363', 'dimval364', 'dimval365', 'dimval366', 'dimval367', 'dimval368', 'dimval369', 'dimval370', 'dimval371', 'dimval372', 'dimval373', 'dimval374', 'dimval375', 'dimval376', 'dimval377', 'dimval378', 'dimval379', 'dimval380', 'dimval381', 'dimval382', 'dimval383', 'dimval384', 'dimval385', 'dimval386', 'dimval387', 'dimval388', 'dimval389', 'dimval390', 'dimval391', 'dimval392', 'dimval393', 'dimval394', 'dimval395', 'dimval396', 'dimval397', 'dimval398', 'dimval399', 'dimval400', 'dimval401', 'dimval402', 'dimval403', 'dimval404', 'dimval405', 'dimval406', 'dimval407', 'dimval408', 'dimval409', 'dimval410', 'dimval411', 'dimval412', 'dimval413', 'dimval414', 'dimval415', 'dimval416', 'dimval417', 'dimval418', 'dimval419', 'dimval420', 'dimval421', 'dimval422', 'dimval423', 'dimval424', 'dimval425', 'dimval426', 'dimval427', 'dimval428', 'dimval429', 'dimval430', 'dimval431', 'dimval432', 'dimval433', 'dimval434', 'dimval435', 'dimval436', 'dimval437', 'dimval438', 'dimval439', 'dimval440', 'dimval441', 'dimval442', 'dimval443', 'dimval444', 'dimval445', 'dimval446', 'dimval447', 'dimval448', 'dimval449', 'dimval450', 'dimval451', 'dimval452', 'dimval453', 'dimval454', 'dimval455', 'dimval456', 'dimval457', 'dimval458', 'dimval459', 'dimval460', 'dimval461', 'dimval462', 'dimval463', 'dimval464', 'dimval465', 'dimval466', 'dimval467', 'dimval468', 'dimval469', 'dimval470', 'dimval471', 'dimval472', 'dimval473', 'dimval474', 'dimval475', 'dimval476', 'dimval477', 'dimval478', 'dimval479', 'dimval480', 'dimval481', 'dimval482', 'dimval483', 'dimval484', 'dimval485', 'dimval486', 'dimval487', 'dimval488', 'dimval489', 'dimval490', 'dimval491', 'dimval492', 'dimval493', 'dimval494', 'dimval495', 'dimval496', 'dimval497', 'dimval498', 'dimval499', 'dimval500', 'dimval501', 'dimval502', 'dimval503', 'dimval504', 'dimval505', 'dimval506', 'dimval507', 'dimval508', 'dimval509', 'dimval510', 'dimval511', 'dimval512', 'dimval513', 'dimval514', 'dimval515', 'dimval516', 'dimval517', 'dimval518', 'dimval519', 'dimval520', 'dimval521', 'dimval522', 'dimval523', 'dimval524', 'dimval525', 'dimval526', 'dimval527', 'dimval528', 'dimval529', 'dimval530', 'dimval531', 'dimval532', 'dimval533', 'dimval534', 'dimval535', 'dimval536', 'dimval537', 'dimval538', 'dimval539', 'dimval540', 'dimval541', 'dimval542', 'dimval543', 'dimval544', 'dimval545', 'dimval546', 'dimval547', 'dimval548', 'dimval549', 'dimval550', 'dimval551', 'dimval552', 'dimval553', 'dimval554', 'dimval555', 'dimval556', 'dimval557', 'dimval558', 'dimval559', 'dimval560', 'dimval561', 'dimval562', 'dimval563', 'dimval564', 'dimval565', 'dimval566', 'dimval567', 'dimval568', 'dimval569', 'dimval570', 'dimval571', 'dimval572', 'dimval573', 'dimval574', 'dimval575', 'dimval576', 'dimval577', 'dimval578', 'dimval579', 'dimval580', 'dimval581', 'dimval582', 'dimval583', 'dimval584', 'dimval585', 'dimval586', 'dimval587', 'dimval588', 'dimval589', 'dimval590', 'dimval591', 'dimval592', 'dimval593', 'dimval594', 'dimval595', 'dimval596', 'dimval597', 'dimval598', 'dimval599', 'dimval600', 'dimval601', 'dimval602', 'dimval603', 'dimval604', 'dimval605', 'dimval606', 'dimval607', 'dimval608', 'dimval609', 'dimval610', 'dimval611', 'dimval612', 'dimval613', 'dimval614', 'dimval615', 'dimval616', 'dimval617', 'dimval618', 'dimval619', 'dimval620', 'dimval621', 'dimval622', 'dimval623', 'dimval624', 'dimval625', 'dimval626', 'dimval627', 'dimval628', 'dimval629', 'dimval630', 'dimval631', 'dimval632', 'dimval633', 'dimval634', 'dimval635', 'dimval636', 'dimval637', 'dimval638', 'dimval639', 'dimval640', 'dimval641', 'dimval642', 'dimval643', 'dimval644', 'dimval645', 'dimval646', 'dimval647', 'dimval648', 'dimval649', 'dimval650', 'dimval651', 'dimval652', 'dimval653', 'dimval654', 'dimval655', 'dimval656', 'dimval657', 'dimval658', 'dimval659', 'dimval660', 'dimval661', 'dimval662', 'dimval663', 'dimval664', 'dimval665', 'dimval666', 'dimval667', 'dimval668', 'dimval669', 'dimval670', 'dimval671', 'dimval672', 'dimval673', 'dimval674', 'dimval675', 'dimval676', 'dimval677', 'dimval678', 'dimval679', 'dimval680', 'dimval681', 'dimval682', 'dimval683', 'dimval684', 'dimval685', 'dimval686', 'dimval687', 'dimval688', 'dimval689', 'dimval690', 'dimval691', 'dimval692', 'dimval693', 'dimval694', 'dimval695', 'dimval696', 'dimval697', 'dimval698', 'dimval699', 'dimval700', 'dimval701', 'dimval702', 'dimval703', 'dimval704', 'dimval705', 'dimval706', 'dimval707', 'dimval708', 'dimval709', 'dimval710', 'dimval711', 'dimval712', 'dimval713', 'dimval714', 'dimval715', 'dimval716', 'dimval717', 'dimval718', 'dimval719', 'dimval720', 'dimval721', 'dimval722', 'dimval723', 'dimval724', 'dimval725', 'dimval726', 'dimval727', 'dimval728', 'dimval729', 'dimval730', 'dimval731', 'dimval732', 'dimval733', 'dimval734', 'dimval735', 'dimval736', 'dimval737', 'dimval738', 'dimval739', 'dimval740', 'dimval741', 'dimval742', 'dimval743', 'dimval744', 'dimval745', 'dimval746', 'dimval747', 'dimval748', 'dimval749', 'dimval750', 'dimval751', 'dimval752', 'dimval753', 'dimval754', 'dimval755', 'dimval756', 'dimval757', 'dimval758', 'dimval759', 'dimval760', 'dimval761', 'dimval762', 'dimval763', 'dimval764', 'dimval765', 'dimval766', 'dimval767', 'dimval768', 'dimval769', 'dimval770', 'dimval771', 'dimval772', 'dimval773', 'dimval774', 'dimval775', 'dimval776', 'dimval777', 'dimval778', 'dimval779', 'dimval780', 'dimval781', 'dimval782', 'dimval783', 'dimval784', 'dimval785', 'dimval786', 'dimval787', 'dimval788', 'dimval789', 'dimval790', 'dimval791', 'dimval792', 'dimval793', 'dimval794', 'dimval795', 'dimval796', 'dimval797', 'dimval798', 'dimval799', 'dimval800', 'dimval801', 'dimval802', 'dimval803', 'dimval804', 'dimval805', 'dimval806', 'dimval807', 'dimval808', 'dimval809', 'dimval810', 'dimval811', 'dimval812', 'dimval813', 'dimval814', 'dimval815', 'dimval816', 'dimval817', 'dimval818', 'dimval819', 'dimval820', 'dimval821', 'dimval822', 'dimval823', 'dimval824', 'dimval825', 'dimval826', 'dimval827', 'dimval828', 'dimval829', 'dimval830', 'dimval831', 'dimval832', 'dimval833', 'dimval834', 'dimval835', 'dimval836', 'dimval837', 'dimval838', 'dimval839', 'dimval840', 'dimval841', 'dimval842', 'dimval843', 'dimval844', 'dimval845', 'dimval846', 'dimval847', 'dimval848', 'dimval849', 'dimval850', 'dimval851', 'dimval852', 'dimval853', 'dimval854', 'dimval855', 'dimval856', 'dimval857', 'dimval858', 'dimval859', 'dimval860', 'dimval861', 'dimval862', 'dimval863', 'dimval864', 'dimval865', 'dimval866', 'dimval867', 'dimval868', 'dimval869', 'dimval870', 'dimval871', 'dimval872', 'dimval873', 'dimval874', 'dimval875', 'dimval876', 'dimval877', 'dimval878', 'dimval879', 'dimval880', 'dimval881', 'dimval882', 'dimval883', 'dimval884', 'dimval885', 'dimval886', 'dimval887', 'dimval888', 'dimval889', 'dimval890', 'dimval891', 'dimval892', 'dimval893', 'dimval894', 'dimval895', 'dimval896', 'dimval897', 'dimval898', 'dimval899', 'dimval900', 'dimval901', 'dimval902', 'dimval903', 'dimval904', 'dimval905', 'dimval906', 'dimval907', 'dimval908', 'dimval909', 'dimval910', 'dimval911', 'dimval912', 'dimval913', 'dimval914', 'dimval915', 'dimval916', 'dimval917', 'dimval918', 'dimval919', 'dimval920', 'dimval921', 'dimval922', 'dimval923', 'dimval924', 'dimval925', 'dimval926', 'dimval927', 'dimval928', 'dimval929', 'dimval930', 'dimval931', 'dimval932', 'dimval933', 'dimval934', 'dimval935', 'dimval936', 'dimval937', 'dimval938', 'dimval939', 'dimval940', 'dimval941', 'dimval942', 'dimval943', 'dimval944', 'dimval945', 'dimval946', 'dimval947', 'dimval948', 'dimval949', 'dimval950', 'dimval951', 'dimval952', 'dimval953', 'dimval954', 'dimval955', 'dimval956', 'dimval957', 'dimval958', 'dimval959', 'dimval960', 'dimval961', 'dimval962', 'dimval963', 'dimval964', 'dimval965', 'dimval966', 'dimval967', 'dimval968', 'dimval969', 'dimval970', 'dimval971', 'dimval972', 'dimval973', 'dimval974', 'dimval975', 'dimval976', 'dimval977', 'dimval978', 'dimval979', 'dimval980', 'dimval981', 'dimval982', 'dimval983', 'dimval984', 'dimval985', 'dimval986', 'dimval987', 'dimval988', 'dimval989', 'dimval990', 'dimval991', 'dimval992', 'dimval993', 'dimval994', 'dimval995', 'dimval996', 'dimval997', 'dimval998', 'dimval999', 'dimval1000', 'dimval1001', 'dimval1002', 'dimval1003', 'dimval1004', 'dimval1005', 'dimval1006', 'dimval1007', 'dimval1008', 'dimval1009', 'dimval1010', 'dimval1011', 'dimval1012', 'dimval1013', 'dimval1014', 'dimval1015', 'dimval1016', 'dimval1017', 'dimval1018', 'dimval1019', 'dimval1020', 'dimval1021', 'dimval1022', 'dimval1023', 'dimval1024', 'dimval1025', 'dimval1026', 'dimval1027', 'dimval1028', 'dimval1029', 'dimval1030', 'dimval1031', 'dimval1032', 'dimval1033', 'dimval1034', 'dimval1035', 'dimval1036', 'dimval1037', 'dimval1038', 'dimval1039', 'dimval1040', 'dimval1041', 'dimval1042', 'dimval1043', 'dimval1044', 'dimval1045', 'dimval1046', 'dimval1047', 'dimval1048', 'dimval1049', 'dimval1050', 'dimval1051', 'dimval1052', 'dimval1053', 'dimval1054', 'dimval1055', 'dimval1056', 'dimval1057', 'dimval1058', 'dimval1059', 'dimval1060', 'dimval1061', 'dimval1062', 'dimval1063', 'dimval1064', 'dimval1065', 'dimval1066', 'dimval1067', 'dimval1068', 'dimval1069', 'dimval1070', 'dimval1071', 'dimval1072', 'dimval1073', 'dimval1074', 'dimval1075', 'dimval1076', 'dimval1077', 'dimval1078', 'dimval1079', 'dimval1080', 'dimval1081', 'dimval1082', 'dimval1083', 'dimval1084', 'dimval1085', 'dimval1086', 'dimval1087', 'dimval1088', 'dimval1089', 'dimval1090', 'dimval1091', 'dimval1092', 'dimval1093', 'dimval1094', 'dimval1095', 'dimval1096', 'dimval1097', 'dimval1098', 'dimval1099', 'dimval1100', 'dimval1101', 'dimval1102', 'dimval1103', 'dimval1104', 'dimval1105', 'dimval1106', 'dimval1107', 'dimval1108', 'dimval1109', 'dimval1110', 'dimval1111', 'dimval1112', 'dimval1113', 'dimval1114', 'dimval1115', 'dimval1116', 'dimval1117', 'dimval1118', 'dimval1119', 'dimval1120', 'dimval1121', 'dimval1122', 'dimval1123', 'dimval1124', 'dimval1125', 'dimval1126', 'dimval1127', 'dimval1128', 'dimval1129', 'dimval1130', 'dimval1131', 'dimval1132', 'dimval1133', 'dimval1134', 'dimval1135', 'dimval1136', 'dimval1137', 'dimval1138', 'dimval1139', 'dimval1140', 'dimval1141', 'dimval1142', 'dimval1143', 'dimval1144', 'dimval1145', 'dimval1146', 'dimval1147', 'dimval1148', 'dimval1149', 'dimval1150', 'dimval1151', 'dimval1152', 'dimval1153', 'dimval1154', 'dimval1155', 'dimval1156', 'dimval1157', 'dimval1158', 'dimval1159', 'dimval1160', 'dimval1161', 'dimval1162', 'dimval1163', 'dimval1164', 'dimval1165', 'dimval1166', 'dimval1167', 'dimval1168', 'dimval1169', 'dimval1170', 'dimval1171', 'dimval1172', 'dimval1173', 'dimval1174', 'dimval1175', 'dimval1176', 'dimval1177', 'dimval1178', 'dimval1179', 'dimval1180', 'dimval1181', 'dimval1182', 'dimval1183', 'dimval1184', 'dimval1185', 'dimval1186', 'dimval1187', 'dimval1188', 'dimval1189', 'dimval1190', 'dimval1191', 'dimval1192', 'dimval1193', 'dimval1194', 'dimval1195', 'dimval1196', 'dimval1197', 'dimval1198', 'dimval1199', 'dimval1200', 'dimval1201', 'dimval1202', 'dimval1203', 'dimval1204', 'dimval1205', 'dimval1206', 'dimval1207', 'dimval1208', 'dimval1209', 'dimval1210', 'dimval1211', 'dimval1212', 'dimval1213', 'dimval1214', 'dimval1215', 'dimval1216', 'dimval1217', 'dimval1218', 'dimval1219', 'dimval1220', 'dimval1221', 'dimval1222', 'dimval1223', 'dimval1224', 'dimval1225', 'dimval1226', 'dimval1227', 'dimval1228', 'dimval1229', 'dimval1230', 'dimval1231', 'dimval1232', 'dimval1233', 'dimval1234', 'dimval1235', 'dimval1236', 'dimval1237', 'dimval1238', 'dimval1239', 'dimval1240', 'dimval1241', 'dimval1242', 'dimval1243', 'dimval1244', 'dimval1245', 'dimval1246', 'dimval1247', 'dimval1248', 'dimval1249', 'dimval1250', 'dimval1251', 'dimval1252', 'dimval1253', 'dimval1254', 'dimval1255', 'dimval1256', 'dimval1257', 'dimval1258', 'dimval1259', 'dimval1260', 'dimval1261', 'dimval1262', 'dimval1263', 'dimval1264', 'dimval1265', 'dimval1266', 'dimval1267', 'dimval1268', 'dimval1269', 'dimval1270', 'dimval1271', 'dimval1272', 'dimval1273', 'dimval1274', 'dimval1275', 'dimval1276', 'dimval1277', 'dimval1278', 'dimval1279', 'dimval1280', 'dimval1281', 'dimval1282', 'dimval1283', 'dimval1284', 'dimval1285', 'dimval1286', 'dimval1287', 'dimval1288', 'dimval1289', 'dimval1290', 'dimval1291', 'dimval1292', 'dimval1293', 'dimval1294', 'dimval1295', 'dimval1296', 'dimval1297', 'dimval1298', 'dimval1299', 'dimval1300', 'dimval1301', 'dimval1302', 'dimval1303', 'dimval1304', 'dimval1305', 'dimval1306', 'dimval1307', 'dimval1308', 'dimval1309', 'dimval1310', 'dimval1311', 'dimval1312', 'dimval1313', 'dimval1314', 'dimval1315', 'dimval1316', 'dimval1317', 'dimval1318', 'dimval1319', 'dimval1320', 'dimval1321', 'dimval1322', 'dimval1323', 'dimval1324', 'dimval1325', 'dimval1326', 'dimval1327', 'dimval1328', 'dimval1329', 'dimval1330', 'dimval1331', 'dimval1332', 'dimval1333', 'dimval1334', 'dimval1335', 'dimval1336', 'dimval1337', 'dimval1338', 'dimval1339', 'dimval1340', 'dimval1341', 'dimval1342', 'dimval1343', 'dimval1344', 'dimval1345', 'dimval1346', 'dimval1347', 'dimval1348', 'dimval1349', 'dimval1350', 'dimval1351', 'dimval1352', 'dimval1353', 'dimval1354', 'dimval1355', 'dimval1356', 'dimval1357', 'dimval1358', 'dimval1359', 'dimval1360', 'dimval1361', 'dimval1362', 'dimval1363', 'dimval1364', 'dimval1365', 'dimval1366', 'dimval1367', 'dimval1368', 'dimval1369', 'dimval1370', 'dimval1371', 'dimval1372', 'dimval1373', 'dimval1374', 'dimval1375', 'dimval1376', 'dimval1377', 'dimval1378', 'dimval1379', 'dimval1380', 'dimval1381', 'dimval1382', 'dimval1383', 'dimval1384', 'dimval1385', 'dimval1386', 'dimval1387', 'dimval1388', 'dimval1389', 'dimval1390', 'dimval1391', 'dimval1392', 'dimval1393', 'dimval1394', 'dimval1395', 'dimval1396', 'dimval1397', 'dimval1398', 'dimval1399', 'dimval1400', 'dimval1401', 'dimval1402', 'dimval1403', 'dimval1404', 'dimval1405', 'dimval1406', 'dimval1407', 'dimval1408', 'dimval1409', 'dimval1410', 'dimval1411', 'dimval1412', 'dimval1413', 'dimval1414', 'dimval1415', 'dimval1416', 'dimval1417', 'dimval1418', 'dimval1419', 'dimval1420', 'dimval1421', 'dimval1422', 'dimval1423', 'dimval1424', 'dimval1425', 'dimval1426', 'dimval1427', 'dimval1428', 'dimval1429', 'dimval1430', 'dimval1431', 'dimval1432', 'dimval1433', 'dimval1434', 'dimval1435', 'dimval1436', 'dimval1437', 'dimval1438', 'dimval1439', 'dimval1440', 'dimval1441', 'dimval1442', 'dimval1443', 'dimval1444', 'dimval1445', 'dimval1446', 'dimval1447', 'dimval1448', 'dimval1449', 'dimval1450', 'dimval1451', 'dimval1452', 'dimval1453', 'dimval1454', 'dimval1455', 'dimval1456', 'dimval1457', 'dimval1458', 'dimval1459', 'dimval1460', 'dimval1461', 'dimval1462', 'dimval1463', 'dimval1464', 'dimval1465', 'dimval1466', 'dimval1467', 'dimval1468', 'dimval1469', 'dimval1470', 'dimval1471', 'dimval1472', 'dimval1473', 'dimval1474', 'dimval1475', 'dimval1476', 'dimval1477', 'dimval1478', 'dimval1479', 'dimval1480', 'dimval1481', 'dimval1482', 'dimval1483', 'dimval1484', 'dimval1485', 'dimval1486', 'dimval1487', 'dimval1488', 'dimval1489', 'dimval1490', 'dimval1491', 'dimval1492', 'dimval1493', 'dimval1494', 'dimval1495', 'dimval1496', 'dimval1497', 'dimval1498', 'dimval1499', 'dimval1500', 'dimval1501', 'dimval1502', 'dimval1503', 'dimval1504', 'dimval1505', 'dimval1506', 'dimval1507', 'dimval1

In [184]:
# Add the dimval_ids list as a new column
dimension_value_df['Dimension Value ID'] = dimension_value_ids

print(dimension_value_df)

           Dimension Value  Dimension Value ID
1             12-23 months                   1
2             24-35 months                   2
3             36-47 months                   3
4             48-59 months                   4
5              6-11 months                   5
...                    ...                 ...
155443    Mashonaland West                4210
155444            Masvingo                4211
155445  Matabeleland North                4212
155446  Matabeleland South                4213
155447            Midlands                4214

[4214 rows x 2 columns]

In [185]:
# Reorder the columns so that 'Dimension Value ID' is first
dimension_value_df = dimension_value_df[['Dimension Value ID', 'Dimension Value']]

# Display the updated DataFrame
dimension_value_df

        Dimension Value ID     Dimension Value
1                        1        12-23 months
2                        2        24-35 months
3                        3        36-47 months
4                        4        48-59 months
5                        5         6-11 months
...                    ...                 ...
155443                4210    Mashonaland West
155444                4211            Masvingo
155445                4212  Matabeleland North
155446                4213  Matabeleland South
155447                4214            Midlands

[4214 rows x 2 columns]

In [186]:
# Export dimension_value_df as CSV file.
dimension_value_df.to_csv("data/dimension_value.csv", index=False)

In [118]:
# Create a new DataFrame with unique values from the 'Income Group' column
income_group_df = cleaned_df[['Income Group']].drop_duplicates()

# Display the new DataFrame
print(income_group_df)

             Income Group
1              Low income
1005  Upper middle income
2600  Lower middle income
4525          High income

In [188]:
# Create numpy array for each of the income groups
income_ids = np.arange(1, len(income_group_df) + 1)
print(income_ids)

[1 2 3 4]

In [189]:
# Use a list comprehension to add "inc" to each income_id.
inc_ids = ["inc" + str(inc_id) for inc_id in income_ids]

print(inc_ids)

['inc1', 'inc2', 'inc3', 'inc4']

In [190]:
# Add the inc_ids list as a new column
income_group_df['Income ID'] = inc_ids

print(income_group_df)

             Income Group Income ID
1              Low income      inc1
1005  Upper middle income      inc2
2600  Lower middle income      inc3
4525          High income      inc4

In [191]:
# Reorder the columns so that 'Income ID' is first
income_group_df = income_group_df[['Income ID', 'Income Group']]

# Display the updated DataFrame
income_group_df

     Income ID         Income Group
1         inc1           Low income
1005      inc2  Upper middle income
2600      inc3  Lower middle income
4525      inc4          High income

In [206]:
# Export income_group_df as CSV file.
income_group_df.to_csv("data/income_group.csv", index=False)

In [200]:
# Create a new DataFrame with unique values from the 'Region' column
region_df = cleaned_df[['Region']].drop_duplicates()

# Display the new DataFrame
print(region_df)

                     Region
1     Eastern Mediterranean
1005               European
1555                African
3164               Americas
4525        Western Pacific
5308        South-East Asia

In [201]:
# Create numpy array for each of the regions
region_ids = np.arange(1, len(region_df) + 1)
print(region_ids)

[1 2 3 4 5 6]

In [202]:
# Use a list comprehension to add "reg" to each region_ids.
reg_ids = ["reg" + str(reg_id) for reg_id in region_ids]

print(reg_ids)

['reg1', 'reg2', 'reg3', 'reg4', 'reg5', 'reg6']

In [203]:
# Add the reg_ids list as a new column
region_df['Region ID'] = reg_ids

print(region_df)

                     Region Region ID
1     Eastern Mediterranean      reg1
1005               European      reg2
1555                African      reg3
3164               Americas      reg4
4525        Western Pacific      reg5
5308        South-East Asia      reg6

In [204]:
# Reorder the columns so that 'Region ID' is first
region_df = region_df[['Region ID', 'Region']]

# Display the updated DataFrame
region_df

     Region ID                 Region
1         reg1  Eastern Mediterranean
1005      reg2               European
1555      reg3                African
3164      reg4               Americas
4525      reg5        Western Pacific
5308      reg6        South-East Asia

In [205]:
# Export region_df as CSV file.
region_df.to_csv("data/region.csv", index=False)